In [1]:
import numpy as np 
import pandas as pd

In [2]:
df=pd.read_csv("en_dup.csv")

In [3]:
df.head()

  label                                            content source author time
0     F  Coronavirus was created in a government lab as...    NaN    NaN  NaN
1     F  The lie that coronavirus came from a bat or a ...    NaN    NaN  NaN
2     F  The health experts had predicted the virus cou...    NaN    NaN  NaN
3     F  A video clip supposedly showed that the expone...    NaN    NaN  NaN
4     T  Almost 200 people in Italy died from the coron...    NaN    NaN  NaN

In [4]:
df.isnull()

      label  content  source  author   time
0     False    False    True    True   True
1     False    False    True    True   True
2     False    False    True    True   True
3     False    False    True    True   True
4     False    False    True    True   True
...     ...      ...     ...     ...    ...
7174  False    False   False   False   True
7175  False    False   False   False   True
7176  False    False    True   False  False
7177  False    False    True   False  False
7178  False    False    True   False  False

[7179 rows x 5 columns]

In [5]:
df.describe

<bound method NDFrame.describe of      label                                            content  \
0        F  Coronavirus was created in a government lab as...
1        F  The lie that coronavirus came from a bat or a ...
2        F  The health experts had predicted the virus cou...
3        F  A video clip supposedly showed that the expone...
4        T  Almost 200 people in Italy died from the coron...
...    ...                                                ...
7174     F  “DDP (Democratic Progressive Party) legislator...
7175     F  In Japan, if the new coronavirus test is negat...
7176     T  We have a perfectly coordinated and fine tuned...
7177     F  Official death toll over 900 but we all know t...
7178     F  The number of new cases from China's coronavir...

                                                 source  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
7174  https://www.poynter.org/?ifcn_misinformation=d...
7175  https://www.poynter.org/?ifcn_misinformation=i...
7176                                                NaN
7177                                                NaN
7178                                                NaN

                       author                     time
0                         NaN                      NaN
1                         NaN                      NaN
2                         NaN                      NaN
3                         NaN                      NaN
4                         NaN                      NaN
...                       ...                      ...
7174  Taiwan FactCheck Center                      NaN
7175           BuzzFeed Japan                      NaN
7176          Donald J. Trump    8:45 PM · Mar 8, 2020
7177                  phampit   3:57 PM · Feb 10, 2020
7178          Yahoo Singapore  10:00 AM · Feb 17, 2020

[7179 rows x 5 columns]>

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7179 entries, 0 to 7178
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   label    7179 non-null   object
 1   content  7179 non-null   object
 2   source   3898 non-null   object
 3   author   4738 non-null   object
 4   time     2813 non-null   object
dtypes: object(5)
memory usage: 280.6+ KB

In [7]:
df.nunique

<bound method DataFrame.nunique of      label                                            content  \
0        F  Coronavirus was created in a government lab as...
1        F  The lie that coronavirus came from a bat or a ...
2        F  The health experts had predicted the virus cou...
3        F  A video clip supposedly showed that the expone...
4        T  Almost 200 people in Italy died from the coron...
...    ...                                                ...
7174     F  “DDP (Democratic Progressive Party) legislator...
7175     F  In Japan, if the new coronavirus test is negat...
7176     T  We have a perfectly coordinated and fine tuned...
7177     F  Official death toll over 900 but we all know t...
7178     F  The number of new cases from China's coronavir...

                                                 source  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
7174  https://www.poynter.org/?ifcn_misinformation=d...
7175  https://www.poynter.org/?ifcn_misinformation=i...
7176                                                NaN
7177                                                NaN
7178                                                NaN

                       author                     time
0                         NaN                      NaN
1                         NaN                      NaN
2                         NaN                      NaN
3                         NaN                      NaN
4                         NaN                      NaN
...                       ...                      ...
7174  Taiwan FactCheck Center                      NaN
7175           BuzzFeed Japan                      NaN
7176          Donald J. Trump    8:45 PM · Mar 8, 2020
7177                  phampit   3:57 PM · Feb 10, 2020
7178          Yahoo Singapore  10:00 AM · Feb 17, 2020

[7179 rows x 5 columns]>

In [10]:
df.columns

Index(['label', 'content', 'source', 'author', 'time'], dtype='object')

In [13]:
df.keys()

Index(['label', 'content', 'source', 'author', 'time'], dtype='object')

In [18]:
df.shape

(7179, 5)